.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other elements */
}

.modalContainer {
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.modalContainer .title {
  text-align: center;
  margin-bottom: 15px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.manualInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.adjustButton, .downloadButton {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: white;
  color: #008b8b;
  border: 2px solid #008b8b;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.adjustButton:hover, .downloadButton:hover {
  background-color: #008b8b;
  color: white;
}

.modalContainer .body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  padding: 10px;
}

.modalContainer .body .bodySection {
  width: 100%;
  text-align: left;
}

.modalContainer .modalTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.modalContainer .modalTable td {
  padding: 7px;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
}

.modalContainer .modalTable td:first-child {
  width: 50%;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.modalContainer .modalTable td:last-child {
  width: 50%;
  text-align: left;
  padding-left: 10px;
}

.modalContainer li {
  text-align: left;
}

/* Ensure adjustment message is green */
.adjustmentMessage {
  color: green;
}
