table {
    border-collapse: collapse;
    width: 100%;
    margin-top: .25%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px 4px;
    font-size: 14px;
  }
  
  table tr:nth-child(even){background-color: #e0ffff;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #008b8b;
    color: white;
    font-weight: normal;
    font-size: 15px;
  }

  .tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .table {
    position: relative;
  }
  
  .tableHeader {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center;
    margin-bottom: 10px; /* Add some space between the button and the table */
  }
  
  .refreshButton {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    border: none;
    background-color: white;
    color: #008b8b;
    border: 2px solid #008b8b;
    border-radius: 8px;
    font-size: 24px; /* Slightly larger font size for the icon */
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  }
  
  .refreshButton:hover {
    background-color: #008b8b;
    color: white;
  }
  
  